---
layout: default
title: Services | Custom Development
description: >-
  We’re in this together. We help you improve your ROI by building websites that
  get better, all the time.
permalink: /custom-development/
---

<section class="top-spacing narrow">
  <h1 class="editable">
      Custom Development
  </h1>
  <p class="subheader editable">
    We’re in this together. 
  </p>
  <p class="editable">
      Sometimes the hardest part of software development is finding the time and people to make it happen. When projects are a priority, but you don&rsquo;t have the bandwidth to make them happen (or they require an unusual skill set), Resolve Digital offers world-class custom software development, so you don&rsquo;t have to put your projects on hold. With expert Ruby on Rails developers on staff, plus developers specializing in Spree Commerce and Solidus, we&rsquo;re here to help you bring life to your projects.
  </p>
  <p class="editable">
      Above all, we want to help you build useful software and sites that fulfill your needs. For custom development projects, that means sitting down with you and taking the time to understand how your business works and exactly what problems you&rsquo;re looking to solve. With more than 14 years of experience, we listen carefully and then create efficient and effective solutions for your challenges. We don&rsquo;t begin building until we understand your company in and out, so we can make sure we&rsquo;re creating a bespoke solution that addresses your specific challenges.
  </p>
  <p class="editable">
      Successful relationships are a priority for us &ndash; we&rsquo;re not happy until you are. Trust in our team of expert developers and know that you are getting top-quality work. Check out some of our favorite success stories here:
  </p>
  <p class="editable">
      ADD LINKS TO CASE STUDIES HERE
  </p>
  <section class="top-spacing full-width">
      <section>
        <div class="two-column">
          <a href="/work/pinrose/">
          <h2 class="editable">
              Pinrose
          </h2>
          </a>
          <a href="/work/pinrose/">
          <video autoplay loop poster="/images/medium/pinrose-scent-personality-poster.png">
              <source src="/videos/pinrose-scent-personality-720.mp4" type="video/mp4" />
              <img src="/images/medium/pinrose-scent-personality-poster.png" alt="Pinrose Quiz Page" />
          </video>
          </a>
        </div>
        <div class="two-column">
          <a href="/work/3d-robotics/">
            <h2 class="editable">
                3D Robotics
            </h2>
          </a>
          <a href="/work/3d-robotics/">
            {% include img.html name="3d-robotics-store.png" alt="3D Robotics store" default="medium" %}
          </a>
        </div>
      </section>
      <section>
        <div class="two-column">    
          <a href="/work/manhattan-wardrobe-supply/">
            <h2 class="editable">
                Manhattan Wardrobe Supply
            </h2>
          </a>
          <a href="/work/manhattan-wardrobe-supply/">
            {% include img.html name="manhattan-wardrobe-supply.png" alt="Manhattan Wardrobe Supply" default="medium" %}
          </a>
        </div>
        <div class="two-column">
          <a href="/work/united-cellars/">
            <h2 class="editable">
                United Cellars
            </h2>
          </a>
          <a href="/work/united-cellars/">
            <video autoplay loop poster="/images/medium/united-cellars-poster.png">
                <source src="/videos/united-cellars-wine.mp4" type="video/mp4" />
                <img src="/images/medium/united-cellars-poster.png" alt="United Cellars logo and wine glass" />
            </video>
          </a>
        </div>
      </section>
    </section>
  <p class="editable">
      Interested in finding out how we can help you? Drop us a line below.
  </p>
</section>

{% include start-a-project.html %}
