---
layout: default
title: Blog Archive
permalink: /blog/archive/
---

<section class="top-spacing">
  <div class="narrow">
    <h1 class="editable">Blog Archive</h1>

    <p class="editable center-aligned">Here's all the posts we've archived. <a href="/blog/">Return to the main blog</a></p>
    <section class="left-aligned timeline-series">
      {% assign posts = site.posts | where:'archived', true %}
      {% for post in posts %}
        {% assign author = site.data.people[post.author] %}

        {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture next_year %}{{ posts[forloop.index].date | date: "%Y" }}{% endcapture %}

        {% if forloop.first %}
          <h2>{{this_year}}</h2>
          <ul class="timeline">
        {% endif %}

        <li class="hidden">
          <span class="dot"></span>
          {% if post.feature_image %}
            <img src="{{post.feature_image}}" />
          {% endif %}
          <a href="{{ post.url }}">{{ post.title }}</a><br/>
          {{ author.name }} &mdash; {{post.date | date: "%b %-d" }}
        </li>

        {% if forloop.last %}
          </ul>
        {% else %}
          {% if this_year != next_year %}
            </ul>
            <h2>{{next_year}}</h2>
            <ul class="timeline">
          {% endif %}
        {% endif %}
      {% endfor %}
    </section>

    <p class="editable center-aligned">
      Get every blog post in your inbox
    </p>
    <p>
      <form class="center-aligned">
        <input type="text" placeholder="Your email" /> <input type="submit" value="Subscribe" />
      </form>
    </p>
  </div>
</section>
