---
layout: default
title: 'Spree Commerce, Ruby on Rails, &amp; Solidus Developers'
description: >-
  Developers building eCommerce stores for innovative retailers. Specializing in
  Solidus, Spree Commerce, Ruby on Rails, SaaS, iOS, and Machine Learning
feature_image:
  name: resolve-digital-logo-only.png
permalink: /
---

<div class="full-screen title-slide center-aligned" id="slide">
  <section class="vertical-center">
    <h1 class="editable">
        Rethinking<br />eCommerce and SaaS
    </h1>
    <h2 class="editable">
        We build, optimize, and maintain eCommerce and SaaS solutions for innovative retailers and businesses.
    </h2>
    <p class="editable"><a href="/solidus-developers">Solidus</a> <span>|</span> <a href="/spree-commerce-developers/">Spree Commerce</a> <span>|</span> <a href="/ruby-on-rails-developers/">Ruby on Rails</a></p>
  </section>
  <canvas id="animated-dots"></canvas>
</div>

<section class="after-title-slide narrow">
  <h2 class="editable">
      Development &amp; Consulting Services
  </h2>
  <p class="editable">
      Many clients already have an online store when they come to us &ndash; but the agency that was great at design and branding isn't the back-end development and ROI expert they need.&nbsp;<br /><br /><strong>This is where our skill and experience make all the difference.</strong>
  </p>
</section>

<section class="three-split-section full-width top-spacing">
  <div class="split editable">
      <h3>Build</h3>
      <p>Setting up your online store <strong>correctly</strong> can be a challenge, especially if you&rsquo;re also running a brick-and-mortar business, or if you have complex fulfillment or localization requirements.</p>
      <p><strong>We customize your store to match your unique business practices and workflow.</strong></p>
  </div>
 
  <div class="split editable">
     <h3>Optimize</h3>
     <p>We help you incrementally boost your site&rsquo;s performance. Using analytics and machine learning, we strategically improve the customer experience for both web and mobile.</p>
     <p><strong>This raises key performance indicators (KPIs) like average order size and conversion rate.</strong></p>
 </div>
  <div class="split editable">
      <h3>Maintain</h3>
      <p>Even the most successful eCommerce sites experience technical issues. Our job is to minimize costly disruptions by performing rigorous monitoring and security updates.</p>
      <p><strong>We also perform regular upgrades to the </strong><strong>Ruby, Ruby on Rails, Spree Commerce, and <a href="/solidus-developers">Solidus</a> back-ends.</strong></p>
  </div>
</section>

<section class="full-width top-spacing">
  <h2 class="editable">
      Featured Client
  </h2>
  <p class="caption center-aligned">
    <a href="/work/pinrose/">{% include img.html name="pinrose-screenshot.png" alt="Pinrose Campfire Rebel Product Detail Page" class="screenshot" %}</a>
    <small>Pinrose.com product detail page for Campfire Rebel.</small>
  </p>
</section>
<section class="narrow">
  <p class="editable">
      Pinrose is a luxury brand that's making high quality fragrance a playful and engaging experience for their customers. They're on a mission to leverage technology to help visitors shop in exciting new ways. That's where we come in. <a href="/work/pinrose/">Read the case study.</a>
  </p>
</section>
<section class="narrow">
  <hr />

  <h2 class="editable">
      Who We Work With
  </h2>
  <p class="editable">
      We&rsquo;ve been engaged by tech giants, cutting-edge startups, and brick-and-mortar stores struggling with the complexities of moving online. What&rsquo;s the common thread? <strong>Working in tandem with our clients to solve tough business challenges. </strong>
  </p>
</section>

<section class="three-split-section full-width top-spacing">
  <h2 class="editable">
      Measurable Results
  </h2>
  <div class="split editable">
      <p><strong><span class="feature-number">51<span>%</span></span> jump in conversions​</strong><br />from mobile after launching updated responsive <a href="/work/manhattan-wardrobe-supply/">Wardrobe Supplies</a> site.</p>
  </div>

  <div class="split editable">
      <p><strong><span class="feature-number">71<span>%</span></span> increase in revenue</strong><br />using machine learning to recommend wine on <a href="/work/united-cellars/">United Cellars</a>.</p>
  </div>
  <div class="split editable">
      <p><strong><span class="feature-number">60<span>%</span></span> cost savings</strong><br />after auditing the hosting infrastructure with <a href="/work/pinrose/">Pinrose</a>.</p>
  </div>
</section>


<section class="narrow center-aligned top-spacing">
  <h2 class="editable">
      What Our Clients Say
  </h2>
  <blockquote>"Resolve Digital did an excellent job, were professional at all times and adapted quickly to our processes. Above all they were great guys to work with."</blockquote>
  <p class="caption editable">
      &mdash; Remy Burger, Product Manager at <img alt="Google Logo" class="inline-logo" height="22" src="/images/originals/google-logo.svg" />
  </p> 
</section>


<section class="narrow">
  <hr />
  <h2 class="editable">
      From Our Blog
  </h2>
  <p class="center-aligned">We write about building, optimizing and maintaining eCommerce stores.</p>
  <ul class="timeline">
    {% for post in site.posts limit: 3 %}
      {% include post-item.html post=post image=false %}
    {% endfor %}
  </ul>
  <p class="center-aligned">
    <a href="/blog/">see all posts</a>
  </p>
  <hr />

  {% include subscribe-form.html %}
</section>


{% include dots-animation.html %}
