---
layout: default
---

<div class="full-screen title-slide" id="slide">
  
    <section class="vertical-center" style="z-index: 100;">
      <h1 class="editable">We build, optimize &amp; maintain eCommerce stores.</h1>
      <h2 class="editable">Specializing in <a href="">Spree</a>, <a href="">Solidus</a> &amp; <a href="">Ruby on Rails</a>.</h2>
    </section>
  <canvas id="animated-dots"></canvas>
</div>



<section class="after-title-slide">
  <div class="narrow">
    <h2 class="editable">Development &amp; Consulting Services</h2>
    <p class="editable">Many clients already have an online store when they come to us. But they're dissatisfied because the agency that was great at design and branding isn't necessarily adept at back-end development or focused on ROI. That's where our skill and experience makes all the difference.</p>
  </div>

  <section class="three-split-section">

    <div class="left-aligned split editable"><h3>Build</h3><p>Setting up your online store <em>correctly</em> can be a challenge, especially if you're running a bricks-and-mortar business or have complex fulfillment or localization requirements. We customize your store to match your unique business practices and workflow.</p></div>
    <div class="left-aligned split editable"><h3>Optimize</h3><p>We work to incrementally boost your site's performance. Using analytics and <a href="/services/">Machine Learning</a>, we strategically improve the customer experience for web and mobile. This raises key performance indicators like average order size and conversion rate.</p></div>
    <div class="left-aligned split editable"><h3>Maintain</h3><p>Even the most successful eCommerce sites experience technical issues. Our job is to minimize costly disruptions by rigorous monitoring and security updates. We also perform upgrades to the <a href="">Ruby</a>, <a href="">Ruby on Rails</a>, <a href="">Spree</a> and <a href="">Solidus</a>.</p></div>
    

  </section>

</section>

<section >
  <h2 class="editable">Featured Client</h2>
  <img src="http://resolve.imgix.net/pinrose-screenshot.png?auto=format&ch=Width,DPR" class="wide screenshot">

  <div class="narrow">
    <p class="editable">Pinrose is a luxury brand that&#39;s making high quality fragrance a playful and engaging experience for their customers. They&#39;re on a mission to leverage technology to help visitors shop in exciting new ways. That&#39;s where we come in.&nbsp;<a href="/services/">Read the case study.</a></p>
  </div>
</section>

<hr />


<section>
  <div class="narrow">
    <h2 class="editable">Who We Work With</h2>
    <p class="editable">We've been engaged by tech giants, fledgling start-ups, and bricks-and-mortar stores struggling with the complexities of moving online. What's the common thread? Working in partnership with our clients to solve tough business challenges.</p>
  </div>
</section>

  <section class="three-split-section">
    <h2 class="editable">Measurable Results</h2>
    <div class="left-aligned split editable"><strong><span class="feature-number">71<span>%</span></span> increase in revenue</strong> when using machine learning to recommend wine on <a href="#">United Cellars</a>.</div>
    <div class="left-aligned split editable"><strong><span class="feature-number">60<span>%</span></span> reduction in hosting costs</strong> with <a href="">Pinrose</a> when auditing hosting infrastructure.</div>
    <div class="left-aligned split editable"><strong><span class="feature-number">34<span>%</span></span> increase of mobile traffic</strong> after converting <a href="">Wardrobe Supplies</a> to use responsive design.</div>
    

  </section>



<section>
  <div class="narrow">
    <h2 class="editable">What Our Clients Say</h2>
    <blockquote>"Just wanted to thank you once more for your help with our new site. It was a pleasure to work with you all. I appreciate the expertise, knowledge and feedback you provided during this process, and I'm happy you built a site we can grow with."</blockquote>
    <p class="caption editable">
      &mdash; Greg Hall, Marketing &amp; Communications Manager, CSDC
    </p>
  </div>
</section>
<hr />
<section>
  <div class="narrow">
    <h2 class="editable">From Our Blog</h2>
    <ul>
      {% for post in site.posts limit: 5 %}
        <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <hr/>

    <p class="editable center-aligned">
      Get every blog post in your inbox
    </p>
    <p>
    <form>
      <input type="text" placeholder="Your email" /> <input type="submit" value="Subscribe" />
    </form>
    </p>
  </div>
</section>


{% include dots-animation.html %}
