---
layout: default
title: Solidus Developers and Consultants
description: "We're a team of Solidus developers. Hire us to build, optimize and maintain your Solidus store."
permalink: /solidus-developers/
---

<section class="top-spacing narrow">
  <p class="center-aligned">
    {% include img.html name="solidus-light-logo.svg" alt="Solidus Logo" class="no-border" %}
  </p>
  <h1 class="editable">Solidus Developers &amp; Consultants</h1>
  <p class="editable feature">
    <a href="https://solidus.io" target="_blank">Solidus</a> is an open source eCommerce platform that’s made for innovative, high-volume retailers.
  </p>
  <p class="editable">
     Built with Ruby on Rails, it is a “fork” of Spree Commerce 2.4 and shares many of Spree’s attributes: scalable, stable, responsive and customizable.
  </p>
  <blockquote>
  Solidus comes out-of-the-box with all the basics, so your development budget can focus on the unique features your store requires. 
  </blockquote>
<p class="editable">This applies as much to the front-end customer experience as to the back-end admin area, where we can tailor Solidus to match your internal workflows.</p>
  <hr/>
  <p class="wide-image caption">
    {% include img.html name="solidus-order-detail-screen.png" alt="Solidus Order Detail Screen" %}
    <br/><small>Solidus Admin Order Detail Screen</small>
  </p>
  <p class="editable">
    Do you want your store to deliver an experience that sets you apart in the minds of your customers? Integrate with third party apps? Minimize admin headaches? Our Solidus developers can work with your design team or our design partners to build pretty much anything you can imagine. 
  </p>
  <hr/>
</section>
<section class="narrow">
  <h2 class="editable">Tell Us About Your Project</h2>

  {% include contact-form.html %}

</section>
<section class="narrow">
  <hr/>
  <h2 class="editable">Who We Are</h2>
  <p class="editable">We’re eCommerce experts with experience developing Spree and Solidus sites as well as custom Ruby on Rails applications. Most of our clients generate annual revenue in the $1 - 10 million range.</p>
  <p class="editable">Applying machine learning, recommendation engines, and enhanced site search, our goal is to continually improve your store’s performance and maximize the return on your investment.</p>
</section>
<section class="narrow">
  <h2  class="editable">Solidus vs Spree Commerce?</h2>
  <p class="editable">
    Solidus was born when <a href="https://spreecommerce.com">Spree Commerce</a> announced it had been <a href="/blog/posts/spree-commerce-acquired-is-it-time-to-move-your-spree-store-to-solidus/">acquired by FirstData</a>. Subsequently <a href="https://wombat.co">Wombat</a>, a product used by many Spree stores was shutdown.
  </p>
  <h3 class="editable">Our Advice</h3>
  <p class="editable">If you have a Spree store we recommend upgrading to Solidus. If you're starting fresh, go straight to Solidus. Solidus is a positive change and many ex-Spree open source developers have already shifted to Solidus.
  </p>
</section>
<section class="narrow">

  <h2 class="editable">More About Solidus</h2>
  <ul>
    <li><a href="/blog/posts/solidusconf-2016/">We’re Attending and Speaking at SolidusConf 2016</a></li>
    <li><a href="/blog/posts/upgrading-your-store-from-spree-to-solidus/">Upgrading Your Store from Spree to Solidus</a></li>
    <li><a href="/blog/posts/spree-commerce-acquired-is-it-time-to-move-your-spree-store-to-solidus/">Spree Commerce Acquired: Is It Time to Move Your Spree Store to Solidus?</a></li>
    <li><a href="/blog/posts/processing-orders-in-solidus/">Processing Orders with Solidus</a></li>
  </ul>
</section>
  
