---
layout: default
title: Ruby on Rails Developers and Consultants
description: >-
  We're a team of Ruby on Rails developers. Hire us to build, optimize and
  maintain your RoR store.
permalink: /ruby-on-rails-developers/
---

<section class="top-spacing narrow">
  <p class="center-aligned">
    {% include img.html name="ruby-on-rails-logo.svg" alt="Ruby on Rails Logo" class="no-border" %}
  </p>

  <h1 class="editable">
      Ruby on Rails Developers &amp; Consultants
  </h1>
  <p class="subheader center-aligned editable">
      Hire us to Build, Optimize and Maintain your RoR Site
  </p>
  <hr />
  <p class="editable feature">
      Ruby is a fluid, simple, and powerful open-source programming language.&nbsp;
  </p>
  <p class="editable">
      Used for building entire sites, from backend to a great user interface, Ruby allows you to build clean and organized sites from the ground up. Ruby on Rails is a popular Ruby framework that makes it possible to build sleek websites quickly, using its large library of gems for highly-customized yet clean site structures.&nbsp;
  </p>
  <blockquote class="editable">
      <p>Because Ruby on Rails is so organized and easily understandable, sites are easy to maintain and update, lowering cost and avoiding headaches.&nbsp;</p>
  </blockquote>
<p class="editable">
    Here are some great sites built using Ruby and Ruby on Rails:
</p>
  <hr />
  <p class="wide-image caption">
    {% include img.html name="solidus-order-detail-screen.png" alt="Solidus Order Detail Screen" %}
    <br /><small>Solidus Admin Order Detail Screen</small>
  </p>
  <p class="editable">
      Do you want your store to deliver an experience that sets you apart in the minds of your customers? Integrate with third party apps? Minimize admin headaches? Our Solidus developers can work with your design team or our design partners to build pretty much anything you can imagine.
  </p>
  <hr />
</section>
<section class="narrow">
  <h2 class="editable" id="hire-us">
      Tell Us About Your Project
  </h2>

  {% include contact-form.html %}

</section>
<section class="narrow">
  <hr />
  <h2 class="editable">
      Who We Are
  </h2>
  <p class="editable">
      We&rsquo;re eCommerce experts with experience developing Spree and Solidus sites as well as custom Ruby on Rails applications. Most of our clients generate annual revenue in the $1 - 10 million range.
  </p>
  <p class="editable">
      Applying machine learning, recommendation engines, and enhanced site search, our goal is to continually improve your store&rsquo;s performance and maximize the return on your investment.
  </p>
</section>
<section class="narrow">
  <h2 class="editable">
      Solidus vs Spree Commerce?
  </h2>
  <p class="editable">
      Solidus was created in August 2015, just prior to the announcement that&nbsp;<a href="https://spreecommerce.com">Spree Commerce</a>&nbsp;had been <a href="/blog/posts/spree-commerce-acquired-is-it-time-to-move-your-spree-store-to-solidus/">acquired by FirstData</a>. While the open source project remains, <a href="https://wombat.co">Wombat</a>, a proprietary product used by many Spree stores, has been shut down.
  </p>
  <h3 class="editable">
      Open Source Community
  </h3>
  <p class="editable">
      Well before the acquisition, it was obvious to the community that Spree Commerce had lost interest in the open source project when key people split.<br /><br />Solidus has picked up where Spree left off. It's demonstrating the energy and enthusiasm that's the sign of a successful open source project. The first "<a href="/blog/posts/solidusconf-2016/">Solidus Conf 2016</a>" is one important milestone.
  </p>
  <h3 class="editable">
      Our Advice
  </h3>
  <ol>
    <li class="editable">If you're starting fresh, go straight to Solidus. It's geared towards the needs of larger eCommerce stores and is supported by a vibrant community of developers.</li>
    <li class="editable">If you have an existing Spree Commerce store, you don't need to take any immediate action but consider <a href="/blog/posts/upgrading-your-store-from-spree-to-solidus/">migrating to Solidus</a>.</li>
  </ol>
</section>
<section class="narrow">
  <h2 class="editable">
      More About Solidus
  </h2>
  <ul>
    <li><a href="/blog/posts/solidusconf-2016/">We’re Attending and Speaking at SolidusConf 2016</a></li>
    <li><a href="/blog/posts/upgrading-your-store-from-spree-to-solidus/">Upgrading Your Store from Spree to Solidus</a></li>
    <li><a href="/blog/posts/spree-commerce-acquired-is-it-time-to-move-your-spree-store-to-solidus/">Spree Commerce Acquired: Is It Time to Move Your Spree Store to Solidus?</a></li>
    <li><a href="/blog/posts/processing-orders-in-solidus/">Processing Orders with Solidus</a></li>
  </ul>
</section>

<section class="narrow center-aligned">
<hr />
  <p class="editable">
      <strong>Ready to get started?</strong> <a class="button" href="#hire-us">Hire Us</a>
  </p>
</section>

  
