---
layout: default
title: Ruby on Rails Developers and Consultants
description: >-
  We're a team of Ruby on Rails developers. Hire us to build, optimize and
  maintain your RoR store.
permalink: /ruby-on-rails-developers/
---

<section class="top-spacing narrow">
  <p class="center-aligned">
    {% include img.html name="ruby-on-rails-logo.svg" alt="Ruby on Rails Logo" class="no-border" %}
  </p>

  <h1 class="editable">
      Ruby on Rails Developers &amp; Consultants
  </h1>
  <p class="subheader center-aligned editable">
      Hire us to Build, Optimize and Maintain your RoR Site
  </p>
  <hr />
  <p class="editable feature">
      Ruby is a fluid, simple, and powerful open-source programming language.&nbsp;
  </p>
  <p class="editable">
      Used for building entire sites, from backend to a great user interface, Ruby allows you to build clean and organized sites from the ground up. Ruby on Rails is a popular Ruby framework that makes it possible to build sleek websites quickly, using its large library of gems for highly-customized yet clean site structures.&nbsp;
  </p>
  <blockquote class="editable">
      <p>Because Ruby on Rails is so organized and easily understandable, sites are easy to maintain and update, lowering cost and avoiding headaches.&nbsp;</p>
  </blockquote>
  <section>
      <h2 class="editable">
          Here are some great sites built using Ruby and Ruby on Rails:
      </h2>
      <div style="display:flex;justify-content:space-evenly;">
          <div>
            <ul>
                <li>Airbnb</li>
                <li>Groupon</li>
                <li>Kickstarter</li>
                <li>LinkedIn</li>        
            </ul>
          </div>
          <div>
            <ul>
                <li>Shopify</li>
                <li>SlideShare</li>
                <li>Square</li>
                <li>Zendesk</li>
            </ul>  
          </div>
      </div>
  </section>
   <section>
      <h2 class="editable">
          Where Ruby on Rails shines:
      </h2>
     <p class="editable feature">
      Development is quick&nbsp;
        </p>
      </p>
      <div></div>
  </section>
  <hr />
</section>
<section class="narrow">
  <h2 class="editable" id="hire-us">
      Tell Us About Your Project
  </h2>

  {% include contact-form.html %}

</section>
<section class="narrow">
  <hr />
  <h2 class="editable">
      Who We Are
  </h2>
  <p class="editable">
      We&rsquo;re consulting and development experts with experience developing custom Ruby on Rails websites and applications, as well as excellent Spree and Solidus eCommerce sites. Most of our clients generate annual revenue in the $1 - 10 million range.
  </p>
  <p class="editable">
      Applying machine learning, recommendation engines, and enhanced site search, our goal is to continually improve your site's performance and maximize the return on your investment.
  </p>
</section>
<section class="narrow center-aligned">
<hr />
  <p class="editable">
      <strong>Ready to get started?</strong> <a class="button" href="#hire-us">Hire Us</a>
  </p>
</section>

  
