---
layout: default
title: Spree Commerce Developers and Consultants
description: "We're a team of Spree Commerce developers. Hire us to build, optimize and maintain your Spree Commerce store."
permalink: /spree-commerce-developers/
---

<section class="top-spacing narrow">
  <p class="center-aligned">
    {% include img.html name="spree-commerce-logo.svg" alt="Spree Commerce Developers" class="no-border" width="65%" %}
  </p>
  <h1 class="editable">Spree Commerce Developers &amp; Consultants</h1>
  <p class="editable feature">
    <a href="https://spreecommerce.com" target="_blank">Spree Commerce</a> is a flexible open source platform built with Ruby on Rails. We’ve been developing Rails applications since 2007 and this experience enables us to handle even the most challenging Spree implementations. 
  </p>
  <p class="editable">
  Our Spree developers are well-versed in the code base and understand how to correctly use variants, taxons, properties, options, and prototypes to build a store that’s easy to navigate, manage, and grow.
  </p>

  <p class="editable">
  We know when and how to customize your Spree site to improve the front-end user experience and back-end work flow. We can upgrade to a newer version of Spree, or shift over to Solidus.</p>

  <p>We’re always looking for opportunities to improve performance, from making your site faster to increasing your conversion rate.</p>
</section>

<section class="narrow">
  <h2>Our Work</h2>
  <blockquote>Resolve Digital is a Spree Commerce Certified Partner. They are thought leaders on all things Spree and eCommerce. With their strategic, results-driven approach they’re a superior choice to partner with.</blockquote>
  <p>Melissa Pegus
Manager of Strategic Partnerships
Spree Commerce Inc.</p>
</section>
<section class="narrow">
  <h2 class="editable" id="hire-us">Tell Us About Your Project</h2>

  {% include contact-form.html %}

</section>
<section class="narrow">
  <hr />
  <h2 class="editable">Who We Are</h2>
  <p class="editable">

  {% include img.html name="spree-commerce-partner.svg" alt="Spree Commerce Developers" class="no-border" style="float: right; width: 20%" %}

  We’re eCommerce experts with experience developing Spree and Solidus sites as well as custom Ruby on Rails applications. Most of our clients generate annual revenue in the $1 - 10 million range.</p>
  <p class="editable">Applying machine learning, recommendation engines, and enhanced site search, our goal is to continually improve your store’s performance and maximize the return on your investment.</p>
</section>


<section class="narrow">
  <h2 class="editable">More About Spree</h2>
  <ul>
    <li><a href="/blog/posts/solidusconf-2016/">We’re Attending and Speaking at SolidusConf 2016</a></li>
    <li><a href="/blog/posts/upgrading-your-store-from-spree-to-solidus/">Upgrading Your Store from Spree to Solidus</a></li>
    <li><a href="/blog/posts/spree-commerce-acquired-is-it-time-to-move-your-spree-store-to-solidus/">Spree Commerce Acquired: Is It Time to Move Your Spree Store to Solidus?</a></li>
    <li><a href="/blog/posts/processing-orders-in-solidus/">Processing Orders with Solidus</a></li>
  </ul>
</section>

<section class="narrow center-aligned">
<hr />
  <p class="editable"><strong>Ready to get started?</strong> <a class="button" href="#hire-us">Hire Us</a></p>
</section>

  
