---
layout: default
title: Spree Commerce Developers and Consultants
description: "We're a team of Spree Commerce developers. Hire us to build, optimize and maintain your Spree Commerce store."
permalink: /solidus-developers/
---

<section class="top-spacing narrow">
  <p class="center-aligned">
    {% include img.html name="solidus-light-logo.svg" alt="Solidus Logo" class="no-border" %}
  </p>
  <h1 class="editable">Solidus Developers &amp; Consultants</h1>
  <p class="editable feature">
    <a href="https://spreecommerce.com" target="_blank">Spree Commerce</a> offers a full feature set and is built on common standards, so you don't have to compromise speed to market, efficiency or innovation. 
  </p>
  <p class="editable">
  The modular platform allows you to easily configure, supplement or replace any functionality you need, so that you can build the exact storefront that you want.
  </p>
</section>

<section class="narrow">
  <h2>Our Work</h2>
  <p>Show one or two samples from our work page</p>
</section>
<section class="narrow">
  <h2 class="editable" id="hire-us">Tell Us About Your Project</h2>

  {% include contact-form.html %}

</section>
<section class="narrow">
  <hr />
  <h2 class="editable">Who We Are</h2>
  <p class="editable">We’re eCommerce experts with experience developing Spree and Solidus sites as well as custom Ruby on Rails applications. Most of our clients generate annual revenue in the $1 - 10 million range.</p>
  <p class="editable">Applying machine learning, recommendation engines, and enhanced site search, our goal is to continually improve your store’s performance and maximize the return on your investment.</p>
</section>


<section class="narrow">
  <h2 class="editable">More About Spree</h2>
  <ul>
    <li><a href="/blog/posts/solidusconf-2016/">We’re Attending and Speaking at SolidusConf 2016</a></li>
    <li><a href="/blog/posts/upgrading-your-store-from-spree-to-solidus/">Upgrading Your Store from Spree to Solidus</a></li>
    <li><a href="/blog/posts/spree-commerce-acquired-is-it-time-to-move-your-spree-store-to-solidus/">Spree Commerce Acquired: Is It Time to Move Your Spree Store to Solidus?</a></li>
    <li><a href="/blog/posts/processing-orders-in-solidus/">Processing Orders with Solidus</a></li>
  </ul>
</section>

<section class="narrow center-aligned">
<hr />
  <p class="editable"><strong>Ready to get started?</strong> <a class="button" href="#hire-us">Hire Us</a></p>
</section>

  
