---
layout: default
title: Spree Commerce Developers and Consultants
description: "We're a team of Spree Commerce developers. Hire us to build, optimize and maintain your Spree Commerce store."
permalink: /spree-commerce-developers/
---

<section class="top-spacing narrow">
  <p class="center-aligned">
    {% include img.html name="spree-commerce-logo.svg" alt="Spree Commerce Developers" class="no-border" width="60%" %}
  </p>
  <h1 class="editable">Spree Commerce Developers &amp; Consultants</h1>
  <p class="subheader center-aligned">Hire us to Build, Optimize and Maintain Your Spree Store</p>
  <hr/>
  <p class="editable feature">
    <a href="https://spreecommerce.com" target="_blank">Spree Commerce</a> is a flexible open source platform built with Ruby on Rails. We’ve been developing Rails applications since 2007 and this experience enables us to handle even the most challenging Spree implementations. 
  </p>
  <p class="editable">
  Our Spree developers are well-versed in the code base and understand how to correctly use variants, taxons, properties, options, and prototypes to build a store that’s easy to navigate, manage, and grow.
  </p>

  <p class="editable">
  We know when and how to customize your Spree site to improve the front-end user experience and back-end work flow. We can upgrade to a newer version of Spree, or shift over to Solidus.</p>

  <p>We’re always looking for opportunities to improve performance, from making your site faster to increasing your conversion rate.</p>
</section>

<section class="full-width top-spacing">
  <h2>Featured Spree Commerce Stores</h2>

  <div class="two-column">
    <a href="/work/pinrose/">
    <h2 class="editable">Pinrose</h2>
    </a>
    <a href="/work/pinrose/">
    <video autoplay loop poster="/images/medium/pinrose-scent-personality-poster.png">
        <source src="/videos/pinrose-scent-personality-720.mp4" type="video/mp4">
        <img src="/images/medium/pinrose-scent-personality-poster.png" alt="Pinrose Quiz Page"/>
    </video>
    </a>
    <p class="editable">Pinrose is an unconventional luxury fragrance company. Their mission: Use technology and science to help customers find and select perfume in a whole new way.</p>
  </div>
  <div class="two-column">
    <a href="/work/3d-robotics/">
      <h2 class="editable">3D Robotics</h2>
    </a>
    <a href="/work/3d-robotics/">
      {% include img.html name="3d-robotics-store.png" alt="3D Robotics store" default="medium" %}
    </a>
    <p class="editable">Silicon Valley’s premier drone company and North America’s largest drone maker, 3DR puts nothing less than magic in your hands.</p>
  </div>
</section>

<section class="narrow">


  <blockquote>Resolve Digital is a Spree Commerce Certified Partner. They are thought leaders on all things Spree and eCommerce. With their strategic, results-driven approach they’re a superior choice to partner with.</blockquote>

  <p class="dim editable">
    &mdash; Melissa Pegus, Manager of Strategic Partnerships, Spree Commerce Inc.
  </p>
<hr/>
</section>
<section class="narrow">
  <h2 class="editable" id="hire-us">Tell Us About Your Project</h2>

  {% include contact-form.html %}

</section>
<section class="narrow">
  <hr />
  <h2 class="editable">Who We Are</h2>
  <p class="editable">

  {% include img.html name="spree-commerce-partner.svg" alt="Spree Commerce Developers" class="no-border hidden-on-mobile" style="float: right; width: 25%; padding-left: 1em;" %}

  We’re eCommerce experts with experience developing Spree and Solidus sites as well as custom Ruby on Rails applications. Most of our clients generate annual revenue in the $1 - 10 million range.</p>
  <p class="editable">Applying machine learning, recommendation engines, and enhanced site search, our goal is to continually improve your store’s performance and maximize the return on your investment.</p>
</section>


<section class="narrow">
  <h2 class="editable">More About Spree</h2>
  <ul>
    <li><a href="/blog/posts/migrating-to-spree-commerce/">Migrating to Spree Commerce</a></li>
    <li><a href="/blog/posts/adding-algolia-search-to-spree-store-nets-8-jump-in-conversion-rate/">Adding Algolia Search to Spree Store Nets 8% Jump in Conversion Rate</a></li>
    <li><a href="/blog/posts/build-a-smart-spree-shop-using-machine-learning/">Build a Smart Spree Shop Using Machine Learning</a></li>
    <li><a href="/blog/posts/how-to-organize-products-with-spree-commerce-(part-one)/">How to Organize Products with Spree Commerce (Part One)</a></li>
    <li><a href="/blog/posts/how-to-organize-products-with-spree-commerce-(part-two)/">How to Organize Products with Spree Commerce (Part Two)</a></li>
    <li><a href="/blog/posts/processing-orders-in-spree-commerce/">Processing Orders in Spree Commerce</a></li>
    <li><a href="/blog/posts/spreeconf-2014/">SpreeConf 2014</a></li>
  </ul>
</section>

<section class="narrow center-aligned">
<hr />
  <p class="editable"><strong>Ready to get started?</strong> <a class="button" href="#hire-us">Hire Us</a></p>
</section>

  
