{% assign author = site.data.people[page.author] %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    {% if page.title %}
        <meta name="title" content="{{ page.title }}">
    {% endif %}

    <meta name="referrer" content="always">

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    
    {% include structured-data/open-graph.html %}
    {% include structured-data/twitter-cards.html %}

    <meta name="theme-color" content="#2babee">
    <meta name="msapplication-navbutton-color" content="#2babee">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="dns-prefetch" href="//resolve.imgix.net">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Blog" href="{{ site.url }}/feed.xml" />

    <link rel="icon" type="image/png" href="{{ site.url }}/images/resolve-digital-logo-only.png">

    {% include structured-data/organization.html %}
    {% include structured-data/breadcrumb.html %}
    {% include structured-data/article.html %}
</head>
