<script src="https://use.typekit.net/plv3wfy.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<script type="text/javascript">
  function loadScript(filename, loaded) {
    var script = document.createElement("script");
    script.src = "/js/" + filename;
    script.onload = loaded;
    document.body.appendChild(script);
  }

  loadScript("jquery.min.js", function(){
    // Load in page-specific scripts. E.g. validation
    {% for script in page.javascripts %}
    loadScript("{{script.name}}", {{script.afterLoad}});
    {% endfor %}
  });
</script>
