<script src="https://use.typekit.net/plv3wfy.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script type="text/javascript">
  function jQueryLoaded(){
    if (typeof hljs !== 'undefined') {
      $("pre code").each(function(i, block) {
        return hljs.highlightBlock(block);
      });
    }

    function displayTimelineItems(){
      $(".timeline li.hidden").each(function(){
        if( $(this).offset().top <= $(window).scrollTop()+$(window).height() ) {
          $(this).removeClass('hidden').addClass('appear');
        }
      });
    }

    // attached to scroll event in a more effecient way.
    var scrollTimeout;  // global for any pending scrollTimeout

    function update(){
      if (scrollTimeout) { // clear the timeout, if one is pending
        clearTimeout(scrollTimeout);
        scrollTimeout = null;
      }
      scrollTimeout = setTimeout(scrollHandler, 5);
    }

    scrollHandler = function () {
      displayTimelineItems();
    };

    $(window).scroll(function () { update(); });
    $(window).resize(function(){ update(); });
  }

  var script = document.createElement('script');
  script.src = '/js/jquery.min.js';
  script.onload = jQueryLoaded;
  document.body.appendChild(script);
</script>
