.post {
  margin-top: $base-spacing;

  // brings headings closer to the text that follows
  // particularly good for long write ups. 
  // Doesn't look good for marketing pages.
  h2, h3, h4 {
    text-align: left;
    margin-top: 1.0em;
    margin-bottom: 0.2em;
  }

  img, picture {
    // negative bottom margin helps bring captions
    // closer to the image
    margin-bottom: -$image-space;
    width: 100%;
  }

  header > h1 {
    text-align: left;
    margin-bottom: 0.2em;
  }

  header > p {
    color: #999;
  }

  a.social-icon {
    display: inline-block;
    border: $base-border-height solid $action-color;
    border-radius: 100px;
    width: 37px;
    height: 37px;
    vertical-align: middle;
    margin-bottom: 2px;

    &.small {
      width: 26px;
      height: 26px;

    }

    & > img {
      border: none;
      margin-bottom: 0px;
    }

    &:hover {
      background: $light-gray;
    }
  }
}

span.blog-date {
  display: inline-block;
  text-align: left;

  @include media($mobile) {
    display: none;
  }
}


