#contact_form {
  // only required because of a compression bug in cloud cannon
  input {
    margin-bottom: $small-spacing;
  }

  label.error {
    font-weight: normal;
    font-size: 0.8em;
    margin-top: -0.8em;
    display: block;
    padding: 0px $tiny-spacing;
  }

  input.error {
    border-color: $red;
  }

  .field {
    @include span-columns(4 of 12);
  }

  @include media($mobile) {
    .field {
      @include span-columns(12 of 12);
    }
  }
}
