// Formatting of inline content elements
// Not typography though. Put that in _typography.scss

p.caption {
  text-align: center;
  color: $medium-gray;
}

.call-to-action {
  text-align: center;
}

.upcase {
  text-transform: uppercase;
}

.left-aligned {
  text-align: left;
}

.center-aligned, .narrow .center-aligned {
  text-align: center;
}

hr {
  width: 10%;
  height: $base-border-height * 2;
  border: none;
  background: $green;
  margin: $base-spacing auto;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

// blockquote {
//   margin: 0px;
// }

