// Formatting of inline content elements
// Not typography though. Put that in _typography.scss

p.feature {
  font-size: 1.2em;
  line-height: 1.2em;
}

p.subheader {
  font-family: $heading-font-family;
  font-size: 1.29em;
  line-height: 1.2em;
  color: $medium-gray;
  font-weight: 400;
  margin-top: -0.9em;
}

.caption, .dim {
  color: rgba(0,0,0, 0.5);

  a {
    color: lighten($action-color, 15%);
    
    &:hover {
      color: shade($action-color, 30%);
    }
  }
}

.caption {
  line-height: 1em;
  margin-top: -1em;

  img, video, picture {
    margin: $image-space auto;
  }
}

.hidden {
  opacity: 0;
}

.middle-aligned {
  vertical-align: middle;
}

p.attribution {
  font-style: italic;
  font-size: 0.9em;
}

.call-to-action {
  text-align: center;
  background: $blue;
  padding: 5px;
  display: inline-block;
  border-radius: 3px;
  padding: .75em 1.5em;

  &:hover {
    background-color: shade($action-color, 20%);
  }
}

.upcase {
  text-transform: uppercase;
}

.left-aligned {
  text-align: left;
}

.center-aligned, .narrow .center-aligned {
  text-align: center;
}

.feature-number {
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1.3em;
  font-family: $heading-font-family;
  vertical-align: middle;
  color: $orange;

  span {
    color: $medium-gray;
    font-size: 50%;
    vertical-align: super;
  }
}

hr {
  width: 4em;
  height: $base-border-height;
  border: none;
  background: $blue;
  margin: $base-spacing auto;
}

img,
picture,
video {
  margin: 0 0 $tiny-spacing 0;
  max-width: 100%;
  border: $base-border-height solid $light-gray;
}

video {
  width: 100%;
}

.screenshot {
  border-radius: 5px 5px 0px 0px;
  padding-top: $base-spacing;
  background: $light-gray;
  background-repeat: no-repeat;
  background-image: url(/images/browser-chrome-buttons.svg);
  background-position: $base-spacing / 3.8 $base-spacing / 3.8;
  border: 2px solid darken($light-gray, 5%);

  &.phone {
    border-radius: 5px;
    background-image: none;
    padding-top: 0px;
    background: none;
    border: $base-border;
    padding: $tiny-spacing;
    margin-bottom: 0px;
  }
}

blockquote {
  margin: $small-spacing 0px;
}

code {
  word-wrap: break-word;
}

pre code {
  word-wrap: normal;
}

.tip {
  @include shift(-4);
  @include span-columns(4);
  font-size: golden-ratio($base-font-size,  -1);
  color: $medium-gray;

  strong:first-child {
    font-family: $heading-font-family;
    font-size: 0.95em;
  }
}

@include media($mobile) {
  .tip {
    @include shift(0);
    @include span-columns(4);
  }
}

header p {
  text-align: center !important;
}

.no-border {
  border: none;
}

header, footer, small {
  img { border: none; }
}
