// Formatting of inline content elements
// Not typography though. Put that in _typography.scss

p.subheader {
  margin-top: -0.5em;
  color: $medium-gray;

  @include media($tablet) {
    margin-top: 0.0em;
  }
}

.caption, .dim {
  color: $transparent-black;

  a {
    color: lighten($action-color, 15%);
    
    &:hover {
      color: shade($action-color, 30%);
    }
  }
}

.caption {
  line-height: 1em;
}

.middle-aligned {
  vertical-align: middle;
}

.left-aligned {
  text-align: left;
}

.center-aligned, .narrow .center-aligned, .full-width .center-aligned {
  text-align: center;
}

.no-border {
  border: none;
}

.no-bottom-margin {
  margin-bottom: 0em;
}

hr {
  width: 4em;
  height: $base-border-height;
  border: none;
  background: $blue;
  margin: $base-spacing auto;
}

img,
video {
  margin: 0 0 $tiny-spacing 0;
  max-width: 100%;
  border: $base-border-height solid $light-gray;
}

.screenshot {
  border-radius: 5px 5px 0px 0px;
  padding-top: $base-spacing;
  background: $light-gray;
  background-repeat: no-repeat;
  background-image: url(/images/originals/browser-chrome-buttons.svg);
  background-position: $base-spacing / 3.8 $base-spacing / 3.8;
  border: $base-border-height solid darken($light-gray, 5%);
}

blockquote {
  margin: $small-spacing 0px;
}

code {
  word-wrap: break-word;
}

pre code {
  word-wrap: normal;
}

.inline-logo {
  vertical-align: text-bottom;
  border: none;
  margin: $tiny-spacing 0em 0.1em 0em;
}



.wide-image {
  margin: $small-spacing -15% $small-spacing -15%;
}

.extra-wide-image {
  margin: $small-spacing -50% $small-spacing -50%;
}

.wide-image, .extra-wide-image {
  text-align: center;

  @include media($tablet) {
    margin: $small-spacing 0em $small-spacing 0em;
  }
}


.tip {
  @include shift(-3);
  @include span-columns(3);
  font-size: golden-ratio($base-font-size,  -1);
  color: $medium-gray;

  strong:first-child {
    font-family: $heading-font-family;
    font-size: 0.95em;
  }
}

@include media($mobile) {
  .tip {
    @include shift(0);
    @include span-columns(4);
  }
}

header, footer, small {
  img { border: none; }
}


