.page > header {
  @include clearfix;
  
  padding: $small-spacing $small-spacing ($small-spacing / 2) $small-spacing;
  margin-bottom: 2em;

  @include media($mobile-landscape) {
    margin-bottom: 1em;
  }

  .logo {
    float: left;
    img {
      margin-bottom: 0px;
    }
    
    svg {
      width: 289px;
      height: 35px;
    }
  }

  nav {
    float: right;
    margin-top: $tiny-spacing;

    a {
      vertical-align: text-bottom;
      padding: 0.5em 1em;

      &.featured {
        background: $orange;
        border-radius: 50px;
      }

      &.featured:hover {
        background: $green;
      }

      &:hover {
        background: $light-gray;
        border-radius: 50px;
      }

      &.active:hover {
        background: none;
      }
    }
  }
}

@include media($tablet) {
  .page > header nav a {
    padding: $small-spacing;
  }
}

@include media($mobile-landscape) {
  .page > header  {
    text-align: center;
    
    .logo, nav {
      float: none;
      text-align: center;

      a {
        display: inline-block;
        padding: 0.3em 0.6em;
      }
    }
  }
}
