.page > header {
  @include clearfix;
  
  padding: $small-spacing $small-spacing ($small-spacing / 2) $small-spacing;

  .logo {
    float: left;
  }

  nav {
    float: right;

    a {
      padding: $small-spacing;
    }
  }
}

@include media($tablet) {
  .page > header nav a {
    padding: $tiny-spacing;
  }
}

@include media($mobile-landscape) {
  .page > header  {
    text-align: center;

    .logo, nav {
      float: none;

      a {
        display: none;
        padding: $small-spacing / 2;
      }
    }
  }
}
