.full-screen {
  height: 90vh;
  @include outer-container;
}

.title-slide {
  background: white;
  text-align: center;
  width: 75%;
  padding-top: $base-spacing;

  p {
    color: $medium-gray;
    font-size: 1.4em;
    width: 75%;
    margin: 0px auto;
  }
}

.tm {
  font-size: 0.5em;
  text-decoration: none;
  vertical-align: super;
}

.vertical-center {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.arrow-down {
  font-size: 4em;
  color: $green;
  display: block;
  text-align: center;
  @include transform(rotate(90deg));
}

.screenshot {
  @include span-columns(8);
}

.narrow {
  @include span-columns(8);
  @include shift(2);

  p {
    text-align: left;
  }
}

section {
  @include outer-container;
}


aside {
  @include span-columns(4);
}

.two-wide {
  @include outer-container;

  li {
    @include span-columns(6);
    @include omega(2n);
  }
}

p.caption {
  text-align: center;
  font-size: 0.9em;
  color: $medium-gray;
}


.caption {
  text-align: center;
  font-size: 0.9em;
  color: $medium-gray;
}

.upcase {
  text-transform: uppercase;
}

.center-aligned {
  text-align: center;
}

.left-aligned {
  text-align: left;
}

.call-to-action {
  font-weight: bold;
  font-size: 1.5em; // sync up with h3?
}

hr {
  width: 10%;
  height: 1px;
  border: none;
  background: $green;
  margin: 0px auto;
}
