
.three-split-section {
  @include shift(0);
  @include pad();

  .split {
    @include span-columns(4);
    @include pad();
    border-right: $base-border-height solid $light-gray;
  }

  .split:last-child {
    border-right: none;
  }
}

@include media($tablet) {
  .three-split-section {
    @include shift(0);
    @include pad();

    .split {
      @include span-columns(12);
    }
  }
}

img.wide {
  @include span-columns(10);
  @include shift(1);
  margin-bottom: $small-spacing;
  border: $base-border-height solid $light-gray;
}

.page {
  @include outer-container;

  background: white;
  /*box-shadow: rgb(240,240,240) 0px 0px 15px;
  border-left: 1px solid rgb(240,240,240);
  border-right: 1px solid rgb(240,240,240);*/
  @include pad();

}

@include media($tablet) {
  .page {
    padding: 0em;
  }
}

.colored {
  @include pad();
  margin: $base-spacing 0px;

  blockquote {
    color: rgba(255,255,255, 0.95);
  }

  h3 {
    color: rgba(255,255,255, 0.95);
  }

  a {
    color: rgba(255,255,255, 0.95);
  }
}

.green {
  background: $green;


  color: rgba(42, 56, 67, 0.90);

  h3, h2 {
    color: rgba(255,255,255, 0.95);
  }
}

.gray {
  background: $light-gray;

  h3 {
    color: rgba(42, 56, 67, 0.9);
  }

  a {
    color: rgba(42, 56, 67, 0.9);
  }
}

.orange {
  background: $orange;
  color: rgba(42, 56, 67, 0.90);
}

body {
  /*background: rgb(245,245,245);*/
  background: white;
}
