section {
  @include row();
}

.full-width {
  @include span-columns(12 of 12);
  @include shift(0);
}

.narrow {
  @include span-columns(8 of 12);
  @include shift(2);
}

.very-narrow {
  @include span-columns(6 of 12);
  @include shift(3);
  padding: 0 $base-spacing;
}

div.two-column {
  margin-top: $small-spacing;
  @include span-columns(6 of 12);

  @include media($tablet) {
    padding: 0.75em;
    @include span-columns(12 of 12);
  }
}

@include media($small-desktop) {
  .very-narrow {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

@include media($tablet) {
  .very-narrow, .narrow {
    @include span-columns(12 of 12);
    @include shift(0);
    @include pad($small-spacing);
  }
}

.three-split-section {
  margin-bottom: $base-spacing;

  .split {
    @include span-columns(4);
    padding-right: $small-spacing;

    border-right: $base-border-height solid $light-gray;

    p {
      margin-bottom: 0em;
    }
  }

  .split:last-child {
    border-right: none;
  }
}



@include media($tablet) {
  .three-split-section {
    @include shift(0);
    padding: 0.75em;

    .split {
      border-right: none;
      padding: 0px;
      @include span-columns(8);
    }
  }
}

.top-spacing {
  margin-top: $base-spacing;

  @include media($mobile) {
    margin-top: 0px;
  }
}

.page {
  @include outer-container;
  padding: 0px $base-spacing $base-spacing $base-spacing;
}

@include media($tablet) {
  .page {
    padding: $tiny-spacing;
  }
}
