$dot-size: 20px;

.timeline {
  @include clearfix;
  position: relative;
  margin: 0px;
  padding: $base-spacing 0px $base-spacing 0px;

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    margin-left: 49.5%;
    width: 1%;
    background: $light-gray;
    z-index: -1;
  }

  li {
    border-radius: 3px;
    width: 46%;
    list-style: none;
    background: $light-gray;
    padding: $small-spacing;
    position: relative;
    margin: 0px;
    margin-top: -20px;


    &::before {
      content: '';
      position: absolute;
      top: 10px;
      height: 0;
      width: 0;
      border: 7px solid transparent;
    }

    a {
      font-family: $heading-font-family;
    }

    .dot {
      font-family: $base-font-family;
      position: absolute;
      top: 7px;
      background: $light-gray;
      width: $dot-size;
      height: $dot-size;
      border-radius: $dot-size / 2;
      background: $blue;
      border: 2px solid white;
    }


  }

  li:nth-child(odd) {
    float: left;
    margin-right: 54%;

    .dot {
      right: -11.25%;
    }

    &::before {
      left: 100%;
      border-left: 7px solid $light-gray;
    }
  }

  li:nth-child(even) {
    float: right;

    .dot {
      left: -11.25%;
    }

    &::before {
      right: 100%;
      border-right: 7px solid $light-gray;
    }
  }

  @keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  li.appear {
    animation: "appear" 0.3s ease-out;
  }
}
