$dot-size: 20px;

.timeline-series h2 {
  background: white;
  margin: 0px;
}

.timeline {
  position: relative;
  margin: 0px;
  padding: $tiny-spacing 0px $tiny-spacing 0px;

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    margin-left: 49.5%;
    width: 1%;
    background: $light-gray;
    z-index: -1;
  }

  li {
    text-align: center;
    list-style: none;
    background: white;
    border: $base-border;
    padding: $small-spacing;
    margin: $base-spacing 0px;

    img {
      margin-bottom: 0px;
    }

    a {
      font-family: $heading-font-family;
      font-weight: bold;
    }

    .dot {
      background: $blue;
      width: $dot-size;
      height: $dot-size;
      border-radius: $dot-size / 2;
      border: $base-border-height solid white;
      display: block;
      margin: -28px auto 10px auto;
    }
  }

  @keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  li.appear {
    animation: "appear" 0.1s ease-out;
  }
}
