---
layout: post
title: How to Organize Products with Spree Commerce (Part One)
meta_title: Organize Products in Spree Commerce Part 1
author: isaac_freeman
read_count: true
dropcap: true
---


<p class="feature">Spree Commerce extends the intuitive idea of a “product” with a set of more abstract concepts: Variants, taxons, properties, options and prototypes. We'll show you how these concepts relate to each other and how you use them to build a store that’s easy for customers to shop, storekeepers to manage, and developers to maintain.</p>
<h2>Products and Variants: the main thing to know.</h2>
<p>Suppose we have an online store selling emoji t-shirts. We have hundreds of t-shirts with different designs.</p>
<p>
{% include img.html name="t-shirts.png" alt="Emjoi T-Shirts" %}
</p>
<p>Generally speaking, most customers choose between t-shirts mainly by the design.<strong> In Spree, we’d treat each design as a separate product.</strong></p>
<p>However, selecting the emoji design that best expresses their personality isn’t the end of the shopping experience for our customers. T-shirts also come in different sizes, colors and fits. A customer might come to our store to buy a mug-of-beer t-shirt, but what they actually put in their cart is a red XL men’s mug-of-beer t-shirt, or a small blue women’s mug-of-beer t-shirt. These finer distinctions define the variants of a product. Variants are the specific items customers actually buy.</p>
<h2>We browse products, but we buy variants.</h2>
<p>
{% include img.html name="products-variants.png" alt="Spree Products-Variants" %}
</p>
<p >It’s worth emphasising this point: the specific items that people buy are variants, not products. As far as Spree is concerned, products are just a way of organising groups of related variants so it’s easy for cutovers to find the one they want.
</p>
<p>Spree’s admin interface doesn’t always make the distinction between products and variants clear. It’s tempting to just make everything a product and ignore variants. If you do, however, you’ll make your store much harder for customers to navigate. Most likely you’ll also end up duplicating the idea by grouping products together in non-standard ways.</p>
<h3>Understanding Variants</h3>
<p>Every product in Spree has at least one variant. This isn’t immediately obvious.</p>
<p>
{% include img.html name="new_product.png" alt="Spree New Product" %}
</p>
<p>When you create a product in Spree, <strong>you’re actually creating both a product and a “master variant.”</strong> The new product form merges the information for the product and the master variant into a single form. The Name, Prototype, Available On date and Shipping Categories fields belong to the product. The SKU and Master Price belong to the master variant. 
<strong>Spree never mentions the master variant in the admin interface.</strong>
</p>
<p>If you add variants, it becomes clear which fields naturally belong there: they’re the things you might reasonably expect to vary without changing the product. For example, if your products are books you’d expect to charge different prices for the hardback, paperback and ebook editions. Price, therefore, must be a characteristic that belongs to each variant, not to the product as a whole.</p>


<aside class="tip">
<table>
<tr><th>Default Spree Variant Fields</th></tr>
<tr><td>SKU</td></tr>
<tr><td>Price</td></tr>
<tr><td>Cost Price</td></tr>
<tr><td>Weight</td></tr>
<tr><td>Height</td></tr>
<tr><td>Width</td></tr>
<tr><td>Depth</td></tr>
<tr><td>Tax Category</td></tr>
<tr><td>Option Values</td></tr>
</table>
<p><strong>Note</strong> it's common for developers to customise Spree by adding fields. Your variants might have additional fields that are specific to what you're selling.
</p>
</aside>


<p><strong>The most important field for variants is the SKU.</strong> This should be a unique identifying code you can use to reference each variant, so you can manage your stock, and fulfill customer orders. 
</p>
<p >Spree doesn’t dictate any particular format for SKUs – many merchants have existing systems when they start their eCommerce sites, and it’s best to stick with the identifiers already in use, especially if they’re defined by suppliers. 
</p>
<p >Spree even allows you to create a variant with no SKU at all, but we strongly recommend that every product have one.
</p>
<h3>Understanding Products</h3>
<p><strong>Products in Spree have two jobs.</strong> First, to group variants that belong together. Second, to store the information those variants have in common.</p>
<p>The product’s name and description are reasonably clear. Most often there’ll be a page for each product, so each product also has a slug to identify it. The slug is used to make a unique URL for the product – by default it’ll look like this:</p>
<pre><code>https://www.mystore.com/products/slug-for-the-product</code></pre>
<p>The available on date gives you control over when the product will be on sale. If you leave it blank or set it to a future date, customers won’t see the product on the site.</p>
<aside class="tip">
{% include img.html name="taxonomy.png" alt="Spree Taxonomy" %}
</aside>
<p><strong>Products can belong to taxons.</strong>
 Taxons (and the taxonomies they belong to) deserve an article of their own, but briefly they’re the categories and tags customers browse through to find your products. If you’re selling furniture, you might have taxons for dining room furniture, bedroom furniture and office furniture. You might also have tables, chairs, beds and desks. You could have taxons for different brands, price ranges, or any other way you like to organise your products. Taxons can be hierarchies of categories and subcategories, or flat collections like featured products.
</p>
<p><strong>Products can also have properties.</strong> Not all sites use these, but they’re handy if you want to provide a table of features.</p>
<p>Finally, <strong>products can have options</strong> (also known as option types). If you’ve felt like something is missing in the relationship between products and variants, options are the missing link.</p>
<p><strong>In Part 2</strong> of this post we'll explain Spree variants, options and prototypes. Don't miss it!</p>
