---
layout: post
title: 'Rails Camp USA: West Coast'
description: "We went to Rails Camp USA. Here's how our trip went."
dropcap: true
author: david_jones
feature_image:
  name: rails-camp-usa-west-group-photo.jpg
editor: barry_harrison
read_count: true
---

<p>I’m on the train heading back to San Francisco after a relaxing weekend at the very first Rails Camp USA. If you don’t know what Rails Camp is, here’s a brief outline:</p>
<blockquote>Rails Camp is a retreat for people interested in web technologies to gather and share ideas while getting out of the city, amongst a campfire and nature. While there's a general focus on Ruby (and Rails) developers, techy people of any background are encouraged to attend.</blockquote>
<p>It was held at <a href="http://www.campjackhazard.org" target="_blank">Camp Jack Hazard</a>, located in Stanislaus National Forest, California. Bobbilee Hartman seeded the idea of a Rails Camp in the US and was the key organiser.</p>
<p>I opted to take the provided three hour bus ride from Sacramento. We had one stop at a supermarket to pick up any “must have” supplies. Along the trip I got comfortable with my fellow campers and observed something rather interesting outside. Due to the widespread forest fires, a hazy hue was cast over the backdrop. The pine forest which surrounds the area looked quite mystical as the sun set.</p>
<p class="wide-image">
{% include img.html name="california-fires-haze.jpg" alt="California Fires Haze" %}
<br/><small class="caption">Haze seen from the bus on the way to Camp Jack Hazard.</small></p>
<p>On arrival at Camp Jack Hazard we joined up with people who had driven there. Our bags were whisked up to our cabins where we settled in. The hosts of the camp would later hang out with us on many occasions, which was cool. Another good thing: our group was only about a third the size of the camp’s maximum capacity.  Bathrooms and showers were plentiful and our cabins weren’t full.</p>
<p class="wide-image">
{% include img.html name="camp-jack-hazard.jpg" alt="Camp Jack Hazard" %}<br/><small class="caption">The main entrance sign for Camp Jack Hazard.</small></p>
<p>Next we picked up some sweet swag bags with a t-shirt and some super awesome goodies Bobbilee had organised. She’d thought of just about everything from a first aid kit (which came in handy for some) right down to Dr. Bronner’s and a flannel. Alongside our own personal swag there was a delightful sprinkling of awesome stuff around the camp. Great healthy snacks like Chia bars to Tom’s toothpaste and oh yes, the all important earplugs - a lifesaver to block out the snorer you will inevitably have in your cabin.</p>
<p class="wide-image">
{% include img.html name="camp-jack-hazard-intro.jpg" alt="Camp Jack Hazard Intro" %}
<br/><small class="caption">Camp briefing in progress.</small></p>
<p>We soon met in the hall for a briefing about the camp. One important factor was altitude. According to Google Maps the camp has an altitude of 10,000 feet so you have to be really careful about dehydration.</p>
<p>After an eventful evening around the fireplace complete with guitars and s’mores, I went to bed and got some much needed rest.</p>
<p class="wide-image">
{% include img.html name="camp-jack-hazard-fire-pit.jpg" alt="Camp Jack Hazard Fire Pit" %}<br/>
<small class="caption">Fire pit time! Photo credit to Scott Rocher.</small></p>
<p>Saturday morning, after a shower and breakfast, a group of us went for a short walk to “Columns of the Giants”. These columns a rare example of columnar hexagonal basalt rock finely polished by previous glacial ages.</p>
<p>

{% include img.html name="columns-of-the-giants-ca.jpg" alt="Columns Of The Giants, CA" %}
{% include img.html name="columns-of-the-giants-close-up.jpg" alt="Columns Of The Giants Close Up" %}
{% include img.html name="columns-of-the-giants-close-up2.jpg" alt="Columns Of The Giants Close Up Two" %}

<small class="caption">Columns of the Giants. A local treasure.</small>
</p>
<p>Arriving at the columns and climbing onto the rocks you could notice a temperature change due to the glacier deep below. That morning Pat Maddox also held a Code Retreat that much in the camp took part in.</p>
<p class="wide-image">
{% include img.html name="pat-maddox-code-retreat.jpg" alt="Pat Maddox Code Retreat" %}
<br/>
<small class="caption">Pat Maddox, in light grey shorts, kicking off the Code Retreat.</small></p>
<p> What is a Code Retreat exactly? Here’s a brief outline:</p>
<blockquote>
An intensive practice event, focusing on the fundamentals of software development and design.</blockquote>
<p>After assembling a plateful of dinner that night we each grabbed a piece of paper with a number on it for a raffle Bobbilee was running. I wasn’t in luck this time but I was super impressed at just how many prizes there were! My favourite prize was a sleeping bag from Poler Stuff, complete with holes for arms that Lincoln Stoll won and promptly put on to give us a “fashion show”.</p>
<p>After dinner some people played Werewolf, a classic game commonly played at Rails Camp. I didn’t end up playing but later regretted that because it’s a great way to learn names. That night heading over to the fireplace a group were hanging around the boot of a fancy Chrysler rental. Quite sensibly known as the “Boot Bar”, Dylan Egan had a sweet setup making great cocktails including an official cocktail for the camp named “Dardanelles”.</p>
<p>
{% include img.html name="dylan-eagan-boot-bar.jpg" alt="Dylan Eagan Boot Bar" %}<small class="caption">Dylan Eagan mixing up his signature camp cocktail named Dardanelles.</small></p>
<p>Dylan has kindly provided the recipe for his Dardanelle cocktail:</p>
<blockquote>50ml Old Tom Gin, 20ml Dolin Rouge, 1 bar spoon of DRAM Pine syrup and a dash Juniper bitters.</blockquote>
<p>The <a href="http://dramapothecary.com/products/buy-simple-syrup-dram-pine" target="_blank">DRAM Pine Syrup</a> was awesome. It smelt just like the pine forest the camp was set in. He was also calling for and successfully receiving tips.</p>
<p>For some, Saturday turned out to be quite a late night. I heard about a few folks making it to bed around 4:30am.</p>
<p>Without fail, the sun rose on Sunday. Thanks to Pat Allan, we started the day with some warming pancakes.</p>
<p class="wide-image">
{% include img.html name="pat-allen-rails-camp-pancakes.jpg" alt="Pat Allen Rails Camp Pancakes" %}<br/><small class="caption">Pat Allen making pancakes for breakfast. Photo credit to Bobbilee Hartman.</small>
</p>
<p>Next we kicked off the morning with an unconference. Leading up to Sunday we’d written down ideas for topics on things to teach, learn or discuss and they had been organised onto a schedule.</p>
<p>I went to one session and then decided to get some exercise and headed off to the Columns of the Giants for a second time.</p>
<p>After lunch a three hour hike to Sword Lake was arranged, which turned out to be the highlight of my trip. We split up into cars and made our way about 40 minutes up to the start of the track. Because it was now 3pm and sunset was at 7pm we decided to split into two groups, those who wanted to walk faster and maximise swimming time at the lake and those who just wanted to enjoy the journey.</p>
<p>
{% include img.html name="sword-lake-ca-hike.jpg" alt="David Jones Sword Lake Ca Hike" %}<small class="caption">Myself walking to Sword Lake. Photo credit to Scott Rocher.</small>
</p>
<p> It took us just an hour to get to the lake and so we ended up with plenty of time. Arriving at the lake was jaw dropping.</p>
<p class="wide-image">
{% include img.html name="sword-lake-ca.jpg" alt="Sword Lake Ca" %}

<br />
{% include img.html name="sword-lake-ca-rails-camp.jpg" alt="Sword Lake Ca Rails Camp" %}
<br/><small class="caption">Sword Lake.</small></p>
<p>I slowly swam over to the other side of the lake where some of the crew were jumping off a cliff or using a rope swing they found. The rope swing was super fun! Slightly painful on the landing.</p>
<p>
{% include img.html name="sword-lake-rope-swing.jpg" alt="Sword Lake Rope Swing" %}
<small class="caption">Rope swing at Sword Lake. Photo credit to Eric Saxby.</small>
</p>
<p>Walking back to our cars, we stopped for a moment of zen looking far into the distance of the landscape.</p>
<p>
{% include img.html name="sword-lake-view.jpg" alt="Sword Lake View" %}
<small class="caption">Taking a moment of zen on our way back from Soward Lake. Photo credit to Eric Saxby.</small>
</p>
<p>Sunday night was a little quieter. I think the  previous night plus the hike dampened the energy a little. There was one surprise though the camp host had found and captured a rattle snake so we all got to watch that for a while. It was later transported to the other side of the river and released to keep it away from the camp. I went back to my cabin and organised my gear so I could be ready for the bus departing early Monday morning.</p>
<p>Overall it was such an epic Rails Camp. While I outline what I got up to in this post, you have to sprinkle just about every moment with some interesting conversation. I’ve met so many awesome people and heard many great stories. I found the whole weekend quite relaxing, which is not something I could say about conferences. A smaller group of people really helps too. By the end I felt like I’d spoken to about 80% of everyone there. It’s these factors that makes Rails Camp such a great format.</p>
<p class="wide-image">
{% include img.html name="rails-camp-usa-west-group-photo.jpg" alt="Rails Camp Usa West Group Photo" %}
{% include img.html name="respect-camp-jack-hazard.jpg" alt="Respect Camp Jack Hazard" %}
<br/><small class="caption">Photo credit to Bobbilee Hartman for first photo in group.</small>
</p>


<p>If you’re left wanting more or missed out on this first camp, Lachlan Hardy and Elle Meredith announced they are organising the next Rails Camp over on the East Coast. Here’s what Lachlan tells me:</p>
<blockquote>
We’ve got a shortlist of 3 locations: 1 each in Vermont; the Catskills, NY; and North Carolina near Greensboro. Currently getting availability for weekends in March/April and expect to book soon.
</blockquote>
<p>
Follow <a href="https://www.twitter.com/railscamp_USA" >@railscamp_USA</a> for updates. Hope to see you all there!</p>
<p><strong>Update:</strong> Railscamp USA East Coast <a href="https://east.railscamp.us/">has been announced</a>. It will be in the Catskills, NY and will run from the 8th to 11th of April, 2016.</p>
