---
layout: post
title: Hosted vs Self Hosted eCommerce
description: "Starting an online store begins with a simple but important decision: Will you use a hosted or self hosted eCommerce platform?"
dropcap: true
author: david_jones
editor: barry_harrison
read_count: true
---
<p class="feature">
Starting an online store begins with a simple but important decision: Will you use a hosted or self hosted eCommerce platform?
</p>
<p>In this post we’re going to explain the pros and cons, and help you identify which option makes the most sense for your business.</p>
<h2>Defining Hosted and Self Hosted eCommerce</h2>
<h3>Hosted eCommerce</h3>
<p>You go to a company offering eCommerce sites, sign up, and have the beginnings of a store. The software and hosting are provided by the company. This is known as SaaS (software as a service). You do not have access to the code that runs the software. It’s provided to you as a service, usually in exchange for a fee.</p>
<p>Examples of hosted eCommerce platforms:
<ul>
<li><a href="" target="_blank">Shopify</a></li>
<li><a href="" target="_blank">BigCommerce</a></li>
<li><a href="" target="_blank">PrestaShop</a></li>
<li><a href="" target="_blank">Volusion</a></li>
</ul>
</p>
<h3>Self Hosted</h3>
<p>You download and run the software yourself. Very commonly this would be open source and you can host it wherever you please. The responsibility of this setup will be solely yours.</p>
<p>Examples of hosted eCommerce platforms:
<ul>
<li><a href="" target="_blank">Magento</a></li>
<li><a href="" target="_blank">WooCommerce</a></li>
<li><a href="" target="_blank">Spree Commerce</a></li>
<li><a href="" target="_blank">Solidus</a></li>
</ul>
</p>
<h2>The eCommerce Platform Landscape</h2>
<p class="wide-image caption">
{% include img.html name="hosted-self-hosted-ecommerce-options.svg" alt="Hosted and Self Hosted Ecommerce Options" class="no-border" style="padding-bottom: 1em;" %}<br/>
<small>A selection of self-hosted and hosted eCommerce platforms</small>
</p>
<p>Some people have compared this decision to choosing between <a href="http://speakinginbytes.com/2014/08/hosted-vs-self-hosted-e-commerce/">taking the bus or car</a>. If you jump on the bus, you’ll travel only when the bus runs, and follow the route it takes, but you don’t need to own the bus. This is the hosted option. </p>
<p>If you choose to travel by car, you can drive whenever you like and go wherever you want.  This is the self-hosted option.</p>
<p>Conceptually this is simple but <strong>the decision comes down to knowing the benefits and drawbacks of each solution and clearly understanding the needs and nature of your business.</strong></p>
<p>To offer a fair comparison we’re going to evaluate the pros and cons of both alternatives for three distinct stages you’ll find yourself in:</p>
<ol>
<li><strong>Building Your Store</strong> - setting up and launching</li>
<li><strong>Optimizing Your Store</strong> - growing and optimizing your store to increase sales</li>
<li><strong>Maintaining Your Store</strong> - making sure it stays online, is secure and provides a consistently good customer experience</li>
</ol>
<h2>Building Your Store</h2>
<h3>Hosted</h3>
<p>Your path begins by signing up for a trial on a hosted platform and if you decide to proceed, you’ll choose a theme or template to define the look of your store.</p>
<p>Next you’ll find apps or add-ons to extend your store with functionality you need that’s not included in the core product.</p>
<p><strong>The huge benefit is a well-rounded solution right out of the box that implements many best practices.</strong> You don’t need to know that much about eCommerce to get started.</p>
<p>However, while you get a lot out of the box, you’re limited by the constraints of the platform. You will not be able to customize everything so you may have to make some tradeoffs to be on a hosted platform.</p>
<p>You will have limited control and ownership of your store. You won’t know what features are on the roadmap. <strong>You won’t be able to decide the timeline or details of any new core features.</strong> You will also have to accept whatever transaction fees are charged to you. </p>
<p>Ideally you’ll want to <strong>make sure you haven’t been locked-in and can migrate to another platform if necessary</strong>.</p>
<h3>Self Hosted</h3>
<p>Your path begins by downloading, installing and running the software yourself or hiring developers to set-up things for you.</p>
<p>Once running, <strong>you have free rein with what you customize.</strong> All aspects of the storefront and back-end will be customizable. Any integrations you need can be built. This is extremely beneficial if you have a unique storefront and offer a non-standard customer experience.</p>
<p><strong>You’ll have total control and ownership over your store.</strong> Usually the code for self-hosted platforms is open source so you can freely share with others and enjoy working with an open and contribution-based community.</p>
<p>Customization and ownership come at a cost though. <strong>You will have significantly higher upfront expenses and a longer build time before you can launch.</strong></p>
<h2>Optimising Your Store</h2>
<h3>Hosted</h3>
<p>The key benefit is hosted platforms run thousands of stores so they can regularly run tests and push improvements to all sites on their platform. <strong>Your store will therefore implement best practices.</strong></p>
<p>Responsive design is an example of an optimization that comes out of the box with most hosted storefronts. SEO is another common feature.</p>
<p>These are great benefits, especially if you don’t have deep eCommerce experience. <strong>You’re able to get something that’s pretty good with little effort or knowledge.</strong></p>
<p>The issue is, in order to be ahead of the competition, you need to be better. To optimize your site from good to great you’ll want to tweak very specific features. Some might be unique to your business. With hosted eCommerce you won’t be able to optimize core functionality and you’re limited to extensions available for the platform.</p>
<h3>Self Hosted</h3>
<p><strong>Optimizing is where self hosted eCommerce platforms shine.</strong> You can focus on any area you like and freely change any aspect of it. You will be in control of your own roadmap. <strong>For many stores, this can be their competitive advantage.</strong> An optimized checkout, for example, can offer a better experience which will make your customer love you.</p>
<p>You will be free to integrate and customize your site search engine, add machine learning features, change how products are filtered and discovered, how the checkout works, which back-end services to integrate with... the sky's your limit.</p>
<p>Self hosted is ideal if you have reasonable funding and/or a decent amount of revenue, but it’s not for everyone. You need vision and expertise. You might decide to engage a development agency who will bring this expertise onto your team.</p>
<h2>Maintaining Your Store</h2>
<h3>Hosted</h3>
<p><strong>The majority of the maintenance is outsourced to the hosted platform provider.</strong> They will respond to downtime, look after SSL certificates, and update the platform on your behalf.</p>
<h3>Self Hosted</h3>
<p><strong>Maintenance is inevitably higher when you’re looking after things yourself.</strong> You need to keep on top of software updates, especially security patches, SSL certificates and responding to downtime.</p>
<p>Not all hosting is the same though. <strong>You can choose your level of control vs management.</strong> If you want more control you could host directly on Amazon Web Services for example, or if you want something more managed choose a hosting provider like <a href="">Heroku</a>.</p>
<p>You could also hire a development firm who is experienced with maintaining eCommerce stores and avoid common mistakes.</p>
<h2>Which Option Should You Choose?</h2>
<p>As you can see there’s a lot to consider when deciding which path to adopt. The answer ultimately depends on your resources and goals. To simplify things we can look at this in terms of customer experience, revenue, and funding.</p>
<p class="center-aligned">{% include img.html name="hosted-vs-self-hosted-ecommerce-platform-decision.svg" alt="Hosted vs Self Hosted Ecommerce - How To Decide" class="no-border two-thirds-width" %}</p>
<h3>Unique Customer Experience</h3>
<p>Creating a unique customer experience requires you to personalize many aspects of your store. This level of customization is often only achieved on a self hosted platform.</p>
<p><strong>While hosted platforms allow for some customization</strong> and can be extended using apps and add-ons, you’ll <strong>ultimately hit limits in your ability to create something truly exceptional.</strong></p>
<h3>Annual Revenue</h3>
<p>Under or over $1 million in revenue is admittedly an arbitrary indicator, but let me provide some intuition. <strong>As your business grows you’ll start to evaluate each aspect in more detail.</strong> You will have questions such as:</p>
<ul>
<li>How can I increase my conversion rate?</li>
<li>How can I decrease my shipping costs?</li>
<li>Could I capture a new market if my store supported multiple languages and currencies?</li>
</ul>
<p>These questions lead to specific features and integrations your store will need to support. The larger your business, the more questions like this you have.</p>
<blockquote>You’ll hit a limit on a hosted platform once, then twice, and eventually come to the conclusion that not having the features you need is slowing your growth and/or putting you at a competitive disadvantage.</blockquote>
<p>This is when you’ll start to look at a self hosted option.</p>
<h2>Conclusion</h2>
<p>The vast majority of online businesses are small and offer a standard customer experience so hosted eCommerce makes sense. But for businesses with sufficient funding, aggressive revenue goals, and visionary leaders you’ll avoid the expense of moving off a hosted platform by jumping straight to self hosted eCommerce.</p>
