---
layout: post
title: A Secure Path to PCI Avoidance
description: "Your choice of payment gateway is the single biggest factor in determining the burden of PCI compliance on your business. An informed selection can mitigate many if not all of these concerns."
author: david_jones
dropcap: false
read_count: true
highlightSyntax: false
editor: barry_harrison
additional_help:
  - person: robert_coleman
  - person: isaac_freeman
feature_image: 
  name: "pci-avoidance.svg"
  rasterized: "pci-avoidance.png"
  width: 1280
  height: 914
  class: "no-border"
---

<p>
{% include img.html name=page.feature_image.name alt=page.title class=page.feature_image.class width="90%" %}
<br/>
<small class="caption">Illustration by <a target="_blank" href="https://twitter.com/emilyacarlton">Emily Carlton</a></small>
</p>

<p class="feature editable">PCI compliance is a security standard designed to keep credit card information safe and prevent fraud. The Payment Card Industry Data Security Standard (PCI DSS) applies to companies of any size that accept credit card payments.</p>
<p class="editable">The problem is compliance can be difficult to achieve and hard to maintain. If your site doesn&rsquo;t meet the current standard you can be subject to large fines or denied the ability to process credit card payments.</p>

<blockquote>
Your choice of payment gateway is the single biggest factor in determining the burden of PCI compliance on your business.</blockquote>
<p>
The good news is an informed selection can mitigate of these concerns.</p>
<hr />
<h2 class="editable">The PCI Compliance Burden</h2>
<p class="editable">PCI DSS has a large scope. It's extremely specific and onerous. Any computer that comes in contact with cardholder data is relevant.</p>

<h3 class="editable">Self-Assessment Questionnaire</h3>
<p class="editable">In attempting to achieve compliance you will need to complete a Self-Assessment Questionnaire (SAQ). There are different types ranging from A to D (the most stringent).</p>
<p class="editable">You must complete and submit your questionnaire to your merchant bank annually. If you're not compliant you'll be required to develop and submit a plan to resolve any issues, along with time frames.</p>
<h3 class="editable">Application and Network Security Scan</h3>
<p class="editable">A regular security scan of your store and network will be conducted. This essentially runs a set of heuristics/rules that scan for red flags. If there are too many, or any that are too severe, action must be taken to move back into compliance. This must be done by an authorized scanning vendor and the report or certificate of compliance submitted to your merchant bank on a regular basis.</p>
<h3 class="editable">Data Center Compliance</h3>
<p class="editable">You must also make sure that the data center your site is hosted with is compliant. <a href="https://aws.amazon.com/compliance/pci-dss-level-1-faqs/">Amazon AWS</a> is extremely good in this regard.</p>
<hr />

<blockquote>When people ask us about becoming PCI compliant, we prefer to flip the question. What can we do about PCI avoidance?</blockquote>

<p class="editable">Our clients are often able to completely avoid PCI compliance. So you’re probably wondering how can you sidestep much of this burden? Before I tell you, let’s first understand how PCI compliance came about from a practical perspective.</p>

<h2 class="editable">How Online Payments Evolved</h2>

<p class="editable">Let’s consider four solutions for implementing payments on your store.</p>

<h3 class="editable">Solution 1: The Simplest Thing Possible</h3>

<p class="wide-image editable">
{% include img.html name="pci-compliance-solution-1.svg" alt="Insecure Payment Implementation" width="100%" %}
</p>

<p class="editable">In the early days of eCommerce you would often see solutions like this. From the developer standpoint it’s the easiest solution you could implement with traditional payment providers.</p>

<p class="editable">Credit details are stored in your database like everything else. You contact the payment provider with those card details and get a response. You don’t bother setting up HTTPS to encrypt the transmission from the browser to your server.</p>

<p class="editable">It’s worth noting that this flow is good in terms of minimizing developer time. It’s also good for the user because they stay on your site throughout the process.</p>

<p class="editable">However the issue with this solution is it's highly unsecure. Someone could intercept this information when it is transmitted or steal all the unencrypted credit card information stored in your database.</p>

<h3 class="editable">Solution 2: Payment Provider Hosted Payment Page</h3>

<p class="wide-image editable">
{% include img.html name="pci-compliance-solution-2.svg" alt="Payment Provider Hosted Payment Page" width="100%" %}
</p>

<p>In this solution, you send your customer to a payment provider's hosted payment page. The customer enters their information, it’s sent encrypted to the payment provider for processing.</p>

<p class="editable">Payment providers love this solution. It allows them to have full control and confidence that credit card data is secure all along the way. There's very little risk for the store owner too.</p>

<p class="editable">While this option is more secure, it forces your customers down a strange path. One moment they’re on your site, the next they’re on another site (that doesn’t look like the page they came from) and they’re asked to enter payment information. This disconnect will negatively impact your conversion rate.</p>

<p class="editable">Some payment providers try to reduce this confusion by allowing the store owner to customize the header and footer of the payment page to make it feel like you’re still on the original store website. Ultimately though this is just a band-aid.</p>

<h3 class="editable">Solution 3: PCI Compliance</h3>

<p class="wide-image editable">{% include img.html name="pci-compliance-solution-3.svg" alt="PCI Compliance" width="100%" %}</p>

<p class="editable">With this solution credit card data is encrypted during every step of transmission and storage.</p>

<p class="editable">This solution has a nice user flow and is secure but as the store owner you are wholly responsible for PCI compliance. You will need to be competent with encryption, patches, server access and know how to respond to any incidents.</p>

<h3 class="editable">Solution 4: PCI Avoidance (recommended)</h3>

<p class="wide-image editable">{% include img.html name="pci-compliance-solution-4.svg" alt="Payment Processing without PCI Compliance" width="100%" %}</p>

<p class="editable">PCI avoidance is achieved by sending customer’s credit card data directly to the payment provider. A token, (not the actual credit card data) is then stored in your database and a payment accepted message is sent back to the customer.</p>

<p class="editable">If someone where to get hold of the credit card token, they are not able to extract credit card data from it.</p>


<p class="editable">While being secure and minimising our PCI burden, we’ve also given the customer a better user experience by staying on your site at all times.</p>

<p>
As of April 2015, the PCI DSS 3.1 standard came into effect which requires you fill out a self assessment questionaire. However, payment providers such as Stripe allow you to simply <a href="https://support.stripe.com/questions/do-i-need-to-be-pci-compliant-what-do-i-have-to-do">download pre-filled doucments</a> which makes it simple for store owners.
</p>
<h2 class="editable">Conclusion</h2>

<p class="editable">Use a payment provider that allows you to offer both a great user experience and minimize the need for you to be PCI compliant.</p>

<p class="editable">If your store is running on Spree Commerce or <a href="/solidus-developers/">Solidus</a>, you’ll be using the <a href="http://activemerchant.org">Active Merchant</a> library to process payments. Payment processers such as <a href="https://stripe.com">Stripe</a> and <a href="https://www.braintreepayments.com">Braintree</a> are compatible with Active Merchant and offer solutions that allow you to significantly lower your PCI burden.</p>


<p class="editable">Outsourcing much of the PCI burden to your payment provider allows you to focus on your business and rest easy knowing your site is secure and your customers have a smooth and seamless experience.</p>
