---
layout: post
title: Rails Camp New Zealand 2016
description: "We attended Rails Camp New Zealand 2016 at Kaitoke YMCA Camp. Find out how it went."
dropcap: false
author: isaac_freeman
editor: barry_harrison
read_count: true
---
<p class="wide-image">
{% include img.html name="rails-camp-new-zealand-location.jpg" alt="Rails Camp New Zealand Location" %}
</p>
<p>The most valuable time at any conference is always the coffee breaks. Presentations may be interesting, relevant and beautifully delivered, but it's during the unstructured time that you learn things you didn't know you needed to learn, meet people you didn't know you needed to meet, and generally get a feel for the trends in your industry. Being part of a professional community is invaluable.</p>
<p>Rails Camps are all coffee break. They start with no pre-arranged schedule beyond mealtimes, just developers gathering to work on projects, discuss, collaborate and play. Presentations can and do happen, but they're secondary to the open unstructured time.</p>
<p>Rails Camp New Zealand 2016 was held over four days at the Kaitoke YMCA Camp, about an hour northeast of Wellington at the rural top end of the Hutt Valley. <a href="https://twitter.com/mark_haylock" target="_blank">Mark</a>, <a href="https://twitter.com/isaacfreeman" target="_blank">Isaac</a> and <a href="https://twitter.com/rushlinneu" target="_blank">Shaun</a> attended from Resolve, along with about 70 people from around New Zealand, Australia and the United States.</p>
<p>The camp's activity revolved around the main hall/dining room, with smaller groups breaking out into other rooms as necessary. Food and drink were excellent and plentiful, and professional baristas were on hand through the day to ensure that the coffee break didn't end. Internet connectivity was deliberately limited to the basic 3G cellphone coverage at the camp. All these small decisions by the organisers added up to an excellent atmosphere: free of the wrong kind of distractions, and filled with the right kind.</p>

<p>
{% include img.html name="rails-camp-new-zealand-hall.jpg" alt="Rails Camp New Zealand Hall" %}
</p>

<p>By popular request, <a href="http://daniel.fone.net.nz" target="_blank">Daniel Fone</a> brought a set of Code Golf problems for participants to work on through the camp. The goal here is to take a sample of working code and compete to see who can reduce it to the smallest length possible without changing its function. Participants produced some truly fiendish optimisations, abandoning all comprehensibility and good practice in pursuit of the smallest number of characters possible. A few also developed some impressively creative hacks to trick Daniel's own test code into thinking their solutions were shorter than they really were. None of this is anything we'd ever dream of coding for a client, but the exercise produced some very interesting insights into how Ruby really works.</p>
<p>Lots of participants brought their own side-projects, and these extended from Ruby on Rails websites to explorations of other programming languages (Elixir was particularly popular this year) and even small hardware projects.</p>

<p>
{% include img.html name="attendees-of-railscamp-walking.jpg" alt="Rails Camp New Zealand Attendees Walking" %}
</p>

<p>On Saturday night, some of the participants gave "off-topic" talks on their own hobbies. It turned out that these included photographing penguins, making caramel rum, and improving cast iron frying pans with an angle grinder. Every evening also had the traditional games of <a href="https://en.wikipedia.org/wiki/Mafia_(party_game)" target="_blank">Werewolf</a>, without which no gathering of developers would be complete. Sunday saw a quick and efficient Annual General Meeting for the Ruby New Zealand organisation.</p>
<p>Although I've been around the NZ Rails community for ten years, this was the first time I'd had the opportunity to attend a Rails Camp. It was great to put faces to names I'd seen online, and especially to see the active involvement of women in the community – something that's still severely lacking in most tech communities.</p>
<p>I brought my own personal project, a Rails website for Christchurch's Funtime Comics collective. It's been awhile since I've worked on a simple Rails app that didn't depend on big packages like Solidus, and it was a chance to experiment with some development tools and techniques that I'll bring back to my regular work.</p>

<p class="wide-image">
{% include img.html name="rails-camp-new-zealand-group.jpg" alt="Rails Camp New Zealand 2016 Group Photo" %}<br/>
<small class="caption">Photo credit: <a href="https://www.flickr.com/photos/macleod_merrin/25339697663/in/pool-2957873@N23/" target="_blank">Merrin Macleod</a></small>
</p>

<p>Thanks very much to the organisers <a href="https://twitter.com/terrcin" target="_blank">Nahum</a>, <a href="https://twitter.com/eoinkelly" target="_blank">Eoin</a> and <a href="https://kotiri.com" target="_blank">Steve</a>, and to everyone who made it great. Next year's New Zealand Rails Camp will be near Christchurch, Resolve's home base, and we'll be sure to be actively involved.</p>
