---
layout: default
---

{% if page.highlightSyntax %}
  <link rel="stylesheet" type="text/css" property="stylesheet" href="/css/code-highlight.css">
{% endif %}

{% if page.dropcap %}
  <link rel="stylesheet" type="text/css" property="stylesheet" href="/css/dropcap.css">
{% endif %}

{% assign author = site.data.people[page.author] %}
{% assign editor = site.data.people[page.editor] %}
{% assign additional_help = page.additional_help %}

<div class="post">
  <section class="very-narrow top-spacing full-width">
    <article>
      <header>
        <h1>{{ page.title }}</h1>
        <p>
          {% if author %}
            <a href="https://twitter.com/{{ author.twitter }}" target="_blank">{{ author.name }}</a>
          {% endif %}
          {% if page.meta %} &mdash; {{ page.meta }}{% endif %}
          {% if page.date %} &mdash; {{ page.date | date: "%b %-d, %Y" }}{% endif %}
          {% if page.read_count %}&mdash; {% include word-count.html %}{% endif %}

          &mdash; Share: 
          {% include social-icons.html %}
        </p>
      </header>
    
      {{ content }}

      <footer>
        <p>
          &mdash;<br/>
          "{{ page.title }}" was
          {% if author %}
            written by <a href="https://twitter.com/{{ author.twitter }}" target="_blank">{{ author.name }}</a>.
          {% endif %}
          {% if editor %}
            Editing by <a href="https://twitter.com/{{ editor.twitter }}" target="_blank">{{ editor.name }}</a>.
          {% endif %}

          {% if additional_help %}
            Additional help from
            {% for helper in additional_help %}
              {% assign person = site.data.people[helper.person] %}
              
              {% if additional_help.size == 1 %}
                <a href="https://twitter.com/{{ person.twitter }}" target="_blank">{{ person.name }}</a>.
              {% else %}
                {% unless forloop.last %}
                  <a href="https://twitter.com/{{ person.twitter }}" target="_blank">{{ person.name }}</a>{% if additional_help.size > 2 %},{% endif %}
                {% else %}
                  and <a href="https://twitter.com/{{ person.twitter }}" target="_blank">{{ person.name }}</a>.
                {% endunless %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if page.disclosure %}Disclosure: {{page.disclosure}}{% endif %}
          {% if page.notes %}{{page.notes}}{% endif %}
        </p>
      </footer>
    </article>
  </section>

  <section class=" top-spacing narrow">
    <hr/>
    <h2>Join The Conversation</h2>
    <p>
      Share and start a conversation about this post:
      {% include social-icons.html %}
    </p>
  </section>

  <section class="narrow more-posts">
    
    <h2 class="editable">More On The Blog</h2>

    {% for related in site.related_posts limit:3 %}
      {% assign author = site.data.people[related.author] %}
      <a href="{{ related.url }}" class="editable">
        <h3>{{ related.title }}</h3>
      </a>
      <p>
        {% if related.feature_image_borderless %}
          {% assign class_name = 'no-border' %}
        {% else %}
          {% assign class_name = '' %}
        {% endif %}

        {% if related.op_image %}
          <a href="{{ related.url }}" class="editable">
            <img src="{{ site[jekyll.environment].cdn }}{{ related.op_image }}{{ site[jekyll.environment].cdn_suffix }}" alt="{{ related.title }}" align="right" class="{{class_name}}"/>
          </a>
        {% else %}
          {% if related.feature_image %}
            <a href="{{ related.url }}" class="editable">
              <img src="{{ site[jekyll.environment].cdn }}{{ related.feature_image }}{{ site[jekyll.environment].cdn_suffix }}" alt="{{ related.title }}" align="right" {{image_class}} />
            </a>
          {% endif %}
        {% endif %}

        {% if related.description %}
          {{ related.description }}<br/>
        {% endif %}
        <small class="caption">
          {% if author %}
            <a href="https://twitter.com/{{ author.twitter }}" target="_blank">{{ author.name }}</a> &mdash;
          {% endif %}
          {{ related.date | date: "%b %-d, %Y" }}
        </small>
      </p>
    {% endfor %}
  </section>

  <section class="narrow">
    <hr/>
    {% include subscribe-form.html %}
  </section>
</div>
