#{$all-buttons}, .button {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 1em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding:  0.55em $tiny-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: $heading-font-family;

  &:hover,
  &:focus {
    background-color: $green;
    color: #fff;
  }
  &:visited {
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}
