ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;

  li {
    margin-left: $base-spacing;
    list-style: disc;
  }

  &.two-column {
    column-count: 2;
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

