ul,
ol {
  list-style-type: none;
  padding: 0;
  text-align: left;

  li {
    margin-left: $base-spacing;
  }

  &.two-column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    @include media($mobile) {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
    }
  }
}

ol li {
  list-style: decimal;
}

ul li {
  list-style: disc;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

