table {
  width: 100%;
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: $small-spacing 0;
  table-layout: fixed;
}

th, td {
  border: $base-border;
  padding: $tiny-spacing;
}

tr,
td,
th {
  vertical-align: middle;
}
