body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing 0;

  @include media($mobile) {
    margin: 0 0 $tiny-spacing 0;
  }
}

h1 {
  font-size: golden-ratio($base-heading-size,  1);
  line-height: 1.15em;
  text-align: center;
}

h2 {
  font-size: 1.3em;
  text-align: center;
}

@include media($tablet) {
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }
}

@include media($mobile) {
  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.0em;
  }
}


h3 {
  font-size: 1em;
  color: $orange;
  margin: 0 0 $tiny-spacing 0;
}

h4 {
  font-size: $base-heading-size * 0.86;
  font-weight: normal; 
  color: tint($base-font-color, 30%);
}

.page nav {
  font-family: $heading-font-family;
  font-size: 0.8em;
}

p {
  margin: 0 0 $small-spacing 0;
}

a {
  text-decoration: none;
  color: $action-color;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  // &:visited, 
  &:hover,
  {
    text-decoration: underline;
    color: shade($action-color, 50%);
  }
}

.page > header a:visited {
  color: $action-color
}

code {
  font-size: 0.8em;
  background: $light-gray;
}

pre code {
  background: none;
  font-size: 0.7em;
}


blockquote {
  color: $green;
  font-style: italic;
  font-size: golden-ratio($base-font-size, 0);
}

a.call-to-action {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

p.feature {
  font-size: 1.15em;
  line-height: 1.3em;
}

p.subheader {
  font-family: $heading-font-family;
  font-size: 1.29em;
  line-height: 1.2em;
  font-weight: 400;

  @include media($tablet) {
    font-size: 1.15em;
    line-height: 1.28em;
  }
}

p.standout {
    font-family: "Open Sans Italic";
}

.caption {
  line-height: 1em;
}

article footer {
  color: #999;
  font-size: 0.9em;
  line-height: 1.4em;
}

.feature-number {
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1.3em;
  font-family: $heading-font-family;
  vertical-align: middle;
  color: $orange;

  span {
    color: $medium-gray;
    font-size: 50%;
    vertical-align: super;
  }
}

.page > header {
  nav {
    font-size: 0.75em;
    text-transform: uppercase;

    a {
      font-weight: bold;
      text-decoration: none;

      &.featured, &.featured.active {
        color: white;
      }

      &.active {
        color: $base-font-color;
        text-decoration: none;
      }
    }
  }
}
