body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: golden-ratio($base-heading-size,  1);
  line-height: 1.15em;
  text-align: center;
}

h2 {
  font-size: golden-ratio($base-heading-size,  0);
  text-align: center;
}

@include media($tablet) {
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.4em;
  }
}

@include media($mobile) {
  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.0em;
  }
}


h3 {
  font-size: $base-heading-size * 0.8;
  color: $orange;
}

h4 {
  font-size: $base-heading-size * 0.7;
  font-weight: normal; 
  color: tint($base-font-color, 30%);
}

.page nav {
  font-family: $heading-font-family;
  font-size: 0.8em;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: shade($action-color, 50%);
  }
}

.page > header a:visited {
  color: $action-color
}

code {
  font-size: 0.8em;
  background: $light-gray;
}

pre code {
  background: none;
  font-size: 0.7em;
}


blockquote {
  color: $green;
  font-style: italic;
  font-size: golden-ratio($base-font-size, 0);
}

a.call-to-action {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
