{% if page.path %}
  {% assign paths = page.path | split:"/" %}
  {% if paths.size > 1 %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {% for path in paths %}
          {% if forloop.last %}
            {% assign url = page.url %}
            {% assign name = page.title %}
          {% else %}
            {% if path == "_posts" %}
              {% assign name = "blog" %}
            {% else %}
              {% assign name = path | replace:'.html','' %}
            {% endif %}

            {% capture url %}/{{ name }}/{% endcapture %}
          {% endif %}

          {
            "@type": "ListItem",
            "position": {{ forloop.index }},
            "item": {
              "@id": "{{ url }}",
              "name": "{{ name | capitalize }}"
            }
          } {% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }
    </script>
  {% endif %}
{% endif %}
