<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name" : "Resolve Digital",
  "url": "http://resolve.digital",
  "sameAs" : [
    "https://twitter.com/resolvedigital",
    "https://www.linkedin.com/company/resolve-digital"
  ],
  "logo": "http://resolve.digital/images/resolve-digital-logo.svg",
  "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+1-510-568-8840",
    "contactType" : "sales",
    "areaServed" : "US",
    "availableLanguage" : "English"
    }, {
    "@type" : "ContactPoint",
    "telephone" : "+64-3-669-0037",
    "contactType" : "sales",
    "areaServed" : "NZ",
    "availableLanguage" : "English"
  }]
}
</script>
