{% assign author = site.data.people[page.author] %}

<meta name="twitter:site" content="@resolvedigital" />

{% if page.feature_image %}
  <meta name="twitter:card" content="summary_large_image" />
{% else %}
  <meta name="twitter:card" content="summary" />
{% endif %}

<meta name="og:title" content="{{ page.title }}" />
{% if page.description %}
  <meta name="og:description" content="{{ page.description }}" />
{% endif %}

{% if page.feature_image %}
  <meta name="og:image" content="{{page.feature_image}}" />
  <meta name="twitter:image" content="{{page.feature_image}}" />
{% endif %}

{% if author.twitter %}
  <meta name="twitter:creator" content="@{{author.twitter}}">
{% endif %}
