{% assign author = site.data.people[page.author] %}

<meta name="twitter:site" content="@resolvedigital" />

{% if page.feature_image %}
  <meta name="twitter:card" content="summary_large_image" />
{% else %}
  <meta name="twitter:card" content="summary" />
{% endif %}

{% if page.feature_image %}
  <meta property="og:image" content="{{page.feature_image}}" />
  <meta name="twitter:image" content="{{page.feature_image}}" />
{% endif %}

{% if author.twitter %}
  <meta name="twitter:creator" content="@{{author.twitter}}">
{% endif %}

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="{{ site.title }}" />

{% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
{% endif %}
