{% assign author = site.data.people[page.author] %}

<meta name="twitter:site" content="@resolvedigital" />

{% if page.feature_image %}
  <meta name="twitter:card" content="summary_large_image" />
{% else %}
  <meta name="twitter:card" content="summary" />
{% endif %}

{% if page.op_image %}
  <meta name="twitter:image:src" content="{{ site.cdn }}{{ page.op_image }}{{ site.cdn_suffix }}" />
{% else %}
  {% if page.feature_image %}
    <meta name="twitter:image:src" content="{{ site.cdn }}{{ page.feature_image }}{{ site.cdn_suffix }}" />
  {% endif %}
{% endif %}

{% if author.twitter %}
  <meta name="twitter:creator" content="@{{author.twitter}}">
{% endif %}
